$def with (user, sourceapp, configform, env_message)
<html>
  <head>
    <title>discoversong: config</title>
	<style type="text/css">
		html {
	    	background-attachment: fixed;
	    	background-color: #3C3C94;
	    	background-image: url("http://ak.rdio.com/media/images/base/body_bg.jpg");
	    	background-repeat: repeat-x;
	    	height: 100%;
		}
		body {
			background: none repeat scroll 0 0 white;
			border-radius: 5px 5px 5px 5px;
			font-family: helvetica,arial,sans-serif;
			margin: 50px;
			padding: 25px;
		}
	</style>
  </head>
  <body>
    <p>$:sourceapp.applabel can:</p>
    <form action="/config/save">
    <ul>
    $for capability in sourceapp.capabilities:
      <li>$:capability.render(user)</li>
    </ul>
    $:configform.render()
    </form>
    <a href="/logout">Log out of discoversong $:env_message</a>
    <p style="font-size: small;">Got feedback?  Send me an <a href="mailto:discoversong@outlook.com">email</a> or a <a href="https://twitter.com/intent/tweet?screen_name=eaefremov">twitter</a> message!</p>
  </body>
</html>
