$def with (name, message, to_address, editform, env_message)
<html>
  <head>
    <title>discoversong</title>
	<style type="text/css">
		html {
	    	background-attachment: fixed;
	    	background-color: #3C3C94;
	    	background-image: url("http://ak.rdio.com/media/images/base/body_bg.jpg");
	    	background-repeat: repeat-x;
	    	height: 100%;
		}
		body {
			background: none repeat scroll 0 0 white;
			border-radius: 5px 5px 5px 5px;
			font-family: helvetica,arial,sans-serif;
			margin: 50px;
			padding: 25px;
		}
	</style>
  </head>
  <body>
    <h1>discoversong</h1>
    Welcome $name!
    $message
    <p>
      Send an email to <font style="color: green; font-size: larger;">$to_address</font> with an artist and song title
      in the subject.  discoversong will search Rdio and add what it finds to the playlist you have selected below.
      It's great!  Give it a try.  You can also configure your music-identifying app like
      <a href="http://www.shazam.com/">Shazam</a>,
      <a href="http://www.soundhound.com/">SoundHound</a>,
      <a href="http://musixmatch.com/">MusiXmatch</a>,
      <a href="https://mediastore.verizonwireless.com/">VCast</a> SongID, or
      <a href="https://play.google.com/store/apps/details?id=com.sonyericsson.trackid">Sony Ericsson TrackID</a> to send emails to discoversong.
    </p>
    <form action="/save">
    $:editform.render()
    </form>
    <a href="/logout">Log out of discoversong $:env_message</a>
    <p style="font-size: small;">Got feedback?  Send me an <a href="mailto:discoversong@outlook.com">email</a> or a <a href="https://twitter.com/intent/tweet?screen_name=eaefremov">twitter</a> message!</p>
  </body>
</html>
