$def with (env_message)
<html>
  <head>
    <title>discoversong</title>
	<style type="text/css">
		html {
	    	background-attachment: fixed;
	    	background-color: #3C3C94;
	    	background-image: url("http://ak.rdio.com/media/images/base/body_bg.jpg");
	    	background-repeat: repeat-x;
	    	height: 100%;
		}
		body {
			background: none repeat scroll 0 0 white;
			border-radius: 5px 5px 5px 5px;
			font-family: helvetica,arial,sans-serif;
			margin: 50px;
			padding: 25px;
		}
	</style>
  </head>
  <body>
    <h1>discoversong</h1>
    <p>
      discoversong listens to emails, tries to find artist and song names in them, searches Rdio, and adds the results
      to your collection or to a playlist you specify. You can also configure your music-identifying app like Shazam, SoundHound, MusiXmatch, or VCast
      Song ID to send emails to discoversong.  Give it a try!
    </p>
    <a href="/login">Log into discoversong $:env_message with your Rdio id</a>
    <p style="font-size: small;">Got feedback?  Send me an <a href="mailto:discoversong@outlook.com">email</a> or a <a href="https://twitter.com/intent/tweet?screen_name=eaefremov">twitter</a> message!</p>
  </body>
</html>
